# Node
node_modules/

# Build outputs
dist/
portfolio-website/dist/

# Dependencies in app folder
portfolio-website/node_modules/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*